<h1>CareCloud Test application</h1>
<p>Thank you for reviewing this test application</p>
<p>These are the links available:
	<ul><li><%= link_to 'Calendar Appointments', appointments_path %></li></ul>	
</p>
